* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Ubuntu Condensed','Hind', sans-serif;
}

body {
  
  
  font-size: 1.3em;
  letter-spacing: 0.1rem;
}

main {
  padding-right: 8%;
  padding-left: 8%;
}

h1 {
  text-align: center;
  font-size: 36px;
  color: black;
  text-shadow: 0 0 7px white;
  background: #87A1FF;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-repeat:no-repeat;
  background-size: cover;
}

.intro {
  margin-top: 0.5em;
  font-size: 1.2rem;
  font-style: bold;
  padding-left: 8%;
  padding-right: 8%;
}

h2 {
  margin-top: 1.5em;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ancre img{
  margin-top: 10px;
  color: black;
  font-size: 3em;
  text-decoration: none;
  width: 80%;
  margin-left: 8%;
  margin-right: 8%;
}

#retour {
  position: fixed;
  bottom: 0;
  background-color: orange;
  color: black;
  display: none;
  text-align: center;
  margin-bottom: 10px;
  padding: 0.5em;
  right: 8%;
  box-shadow: 4px 4px 8px #666;
  border-radius: 10px;
  text-decoration: none;
}

#retour:hover{
  filter: grayscale(30%);
  filter: blur(0.5px);
}

footer {
  background-color: #87A1FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1rem;
}

.column1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5%;
}

.column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 5%;
}

.nav_foot {
  margin-top: 0.2em;
}

.imgEntete {
  width: 84%;
  margin-left: 8%;
  margin-right: 8%;
}

h2 {
  margin-top: 2em;
  margin-bottom: 0.5em;
  -webkit-text-decoration: underline #65A5EB;
          text-decoration: underline #65A5EB;
}

#parcours h3 {
  -webkit-text-decoration: underline orange;
          text-decoration: underline orange;
  margin: 4%;
}

#parcours p {
  padding-bottom: 2em;
}

.diff {
  border-radius: 5px;
  margin: 8%;
}

.front {
  border-radius: 5px;
  margin: 8%;
}

.back {
  border-radius: 5px;
  margin: 8%;
}

.conclusion {
  border-radius: 5px;
  margin: 8%;
}

.Flexu{ 
  display:-webkit-box; 
  display:-ms-flexbox; 
  display:flex;
  list-style-type:none;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  margin-top:5%;
  margin-bottom:2%;
  padding-left: 8%;
  padding-right: 8%;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.puce1{
  padding-left:4%;
}

.FlexG{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  text-align:justify;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.FlexG{
  border-right-width: 20px;
  border-right-style: ridge;
  border-right-color: rgba(204, 99, 0, 0.2); 
  border-bottom-width: 5px;
  border-bottom-style: ridge;
  border-bottom-color: rgba(204, 99, 0, 0.2);
}

.Bloc{
  display:inline-block;
  text-align:justify;
  width:100%;
  padding-left:8%;
  padding-right:5%;
}

.IMA{
  max-width:20%;
  height:auto;
}

.Flexu h3{
max-width:20%;
}

.photo{
  width:0%;
}

.divParcours img{
  box-shadow: 8px 8px 8px #666;
  border-radius: 10px;
}

.divLangages img{
  box-shadow: 8px 8px 8px #666;
  border-radius: 10px;
}

.divTools img{
  box-shadow: 8px 8px 8px #666;
  border-radius: 10px;
}

.divFrame img{
  box-shadow: 8px 8px 8px #666;
  border-radius: 10px;
}

.divTools{
  padding-bottom: 10px;
}
.divParcours img:hover{
  filter: blur(1px)
}

.divLangages img:hover{
  filter: grayscale(40%);
}

.divFrame img:hover{
  filter: grayscale(40%);
}

.divTools img:hover{
  filter: grayscale(40%);
}

header {
  display: flex; 
  flex-direction: column;
}

.inputLD {
  align-self: flex-end ;
  position: absolute;
  margin-top: 2.5em;
  right: 2%;
}

body {
  background: #2c3e50;
  background: #d6e7f7;
  color: #dfe6e9;
  color: #145258;
  /* center the label in the viewport */
  min-height: 100vh;
  transition: background 0.75s ease-in-out;
}

/* absolute position the input element on top of the accompanying svg element */

label input {
  position: absolute;
  width: 75px;
  height: 30px;
  opacity: 0;
  
}
label svg {
  width: 75px;
  height: auto;
  display: block;
}
/* include transitions for the elements modified as the input is checked */
label input + svg .light {
  transition: opacity 0.75s cubic-bezier(0.68, 0.25, 0.265, 1);
}
label input + svg .translate,
label input + svg .rotate,
label input + svg .background,
label input + svg .astronaut,
label input + svg .surfer {
  transition: transform 0.75s cubic-bezier(0.68, 0.25, 0.265, 1);
}
/* make the .light element fully transparent to have the .dark variant see through */
label input:checked + svg .light {
  opacity: 0;
}
/* translate the sun/moon toward the right (by default it is pushed back with a negative translation) */
label input:checked + svg .translate {
  transform: translateX(0px);
}
/* rotate the moon (by default it is rotated counter-clockwise) */
label input:checked + svg .rotate {
  transform: rotate(0deg);
}
/* translate the scale the backgrounds to 0
this is rather neat, so meant an extra comment
- the light background is positioned with two groups, one pushing it below the graphic, one back up; by removing the translation of this last group the background "returns" below the toggle
- the dark background is positioned above and with a smaller vertical scale; by removing the translation it is placed in full view and by increasing its scale it's as if the stars would tumble down with different rates
*/
label input:checked + svg .background {
  transform: translate(0px) scale(1);
}

.textLink {
  color:  #ffa500;
  color: #6c5ce7;
}

@media only screen and (min-width: 770px) {
  h1 {
    text-align: start;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    padding-left: 12%;
    font-size: 40px;
  }
  header {
    width: 100%;
  }
  .intro {
    font-size: 1.5em;
  }

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
        justify-content: space-evenly;
  }

  .column1 {
    margin-left: 15%;
  }

  .column2 {
    margin-right: 15%;
  }

  nav .divParcours {
    width: 100%;
    height: 50%;
  }

  nav .divLangages {
    width: 100%;
    height: 50%;
  }
  
  nav .divFrame {
    width: 100%;
    height: 50%;
  }

  nav .divTools {
    width: 100%;
    height: 50%;
  }

  .divParcours img {
    height: 90%;
    box-shadow: 8px 8px 8px #666;
  }

  .divLangages img {
    height: 90%;
    box-shadow: 8px 8px 8px #666;
  }

  .divTools img {
    height: 90%;
    box-shadow: 8px 8px 8px #666;
  }

  .divFrame img{
    box-shadow: 8px 8px 8px #666;
  }
  

  #Wrap, #Wrap1{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding:2%;
  }

  .barre{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:reverse;
        -ms-flex-direction:row-reverse;
            flex-direction:row-reverse;
    -webkit-box-pack:end;
        -ms-flex-pack:end;
            justify-content:flex-end;
    -webkit-box-align:end;
        -ms-flex-align:end;
            align-items:flex-end;
    width:50%}
  
  .photo{
    width:30%;
  }

  .IMA{
    max-width:100px;
  }

  .FlexG{
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top:20px;
  }

  #langages .FlexG{
     -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top:100px;
  }

  .Flexu{ 
    margin-top:0;
    margin-bottom:0;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }

  #parcours p {
     padding-bottom: 2em;
  }

  .front {
    border-left:ridge 5px;
    border-color: orange;
    margin: 2%;
    padding: 2%;
  }

  .back {
    border-left:ridge 5px;
    border-color: orange;
    margin: 2%;
    padding: 2%;
  }

  .conclusion {
    border-left:ridge 5px;
    border-color: orange;
    margin: 2%;
    padding: 2%;
  }

  #parcours h3 {
    -webkit-text-decoration: underline C;
            text-decoration: underline C;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 770px){
  #langages h2{
    background: url("https://www.zupimages.net/up/19/38/4r52.jpeg") center;
    height:50px;
  }

  #frameworks h2{
    background: url("https://www.zupimages.net/up/19/38/l5ye.jpeg") center;
    height:50px;
  }

  #outils h2{
    background: url("https://www.moncoeurdherault.fr/sites/default/files/field/image/outil-web-la-liste-ultime.jpg") center;
    height:50px;
  }
  #parcours h2{
    background: url("https://zupimages.net/up/19/39/jyug.png") center;
    height:50px;}
}

@media only screen and (min-width: 500px) and (max-width: 769px){
  h1 {
    text-align: center;
    font-size: 2em;
    padding: 1.1em;
  }

  .inputLD {
    margin-top: 4.5em;
    right: 5%;
  }

  .ancre img{
    margin-left: 6%;
    width: 90%;
    height: 40%;  }
}

@media only screen and (min-width: 1370px){
  

  nav div {
    -ms-flex-pack: distribute;  
  }

  .ancre img{
    width: 80%;
  }
} 

#reductionHTML, #reductionCSS, #reductionJava, #reductionJS, #reductionPHP, #reductionPython, #reductionC, #reductionFront, #reductionEnd{
  display:none;
}

